body {
  overflow: hidden;
}

.app_grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #aaaaaa; 
  height: 98vh;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: 10ex 10ex auto 10ex;
}

.app_grid > div {
  // background-color: rgba(155, 155, 155, 80);
  // color: rgba(255, 255, 255, 80);
  // border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  // font-size: 30px;

}

.folder_box, .tag_box, .note_box {
  overflow: auto

}

.header, .navigation, .footer {
  grid-column: span 4;
  text-align: center;
}
