.node {
  cursor: default;
}

// .node:hover {
//   background-color: #e3e3e3;
// }

.selected {
    background-color: yellow;
}

.hidden {
    display: none;
}

.node.icon {
  font-weight: bold;
}


.node.icon.childless:before {
    content: "•";
}

.node.icon.closed:before {
    font-family: FontAwesome;
    content: "\f105";
}

.node.icon.opened:before {
    font-family: FontAwesome;
    content: "\f107";
}
