.state_tag_set {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}
.extra_tags{
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: row;
}
